Repository 4s1-org/docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node-14-alpine, node-14-buster, sonarlint-cli, golang-alpine

node-14-alpine:
  stage: deploy
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
  ...

node-14-buster:
  stage: deploy
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
  ...

sonarlint-cli:
  stage: deploy
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
  ...

golang-alpine:
  stage: deploy
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
  ...

Update Dockerfile
  golang/Dockerfile
Due: golang-alpine

chore: update dependency golang to v1.17.7
  golang/Dockerfile
Due: golang-alpine

chore: update dependency sonarsource/sonar-scanner-cli to v4.7
  sonarlint-cli/Dockerfile
Due: sonarlint-cli

Add renovate image
  sonarlint-cli/renovate/Dockerfile
Due: none

move file
  renovate/Dockerfile
Due: none

add renovate
  .gitlab-ci.yml
Due: none

rename stage
  .gitlab-ci.yml
Due: none

fix parameter for renovate image job
  .gitlab-ci.yml
Due: none

Downgrade version for test purpose
  renovate/Dockerfile
Due: none

renovate settings
  .gitlab-ci.yml
  renovate/Dockerfile
Due: none

chore: update dependency renovate/renovate to v31.94.0
  renovate/Dockerfile
Due: none

chore: update dependency renovate/renovate to v31.97.3
  renovate/Dockerfile
Due: none

chore: update dependency golang to v1.17.8
  golang/Dockerfile
Due: golang-alpine

chore: update dependency renovate/renovate to v32
  renovate/Dockerfile
Due: none

chore: update dependency renovate/renovate to v32.0.4
  renovate/Dockerfile
Due: none

chore: update dependency golang to v1.18.0
  golang/Dockerfile
Due: golang-alpine

chore: update node.js to v14.19.1
  node/alpine/prod/Dockerfile
  node/buster/prod/Dockerfile
Due: node-14-alpine, node-14-buster

chore: update dependency renovate/renovate to v32.6.5
  renovate/Dockerfile
Due: none

chore: update dependency renovate/renovate to v32.10.3
  renovate/Dockerfile
Due: none

build: migrate to github
  .renovaterc.json
  README.md
  node/alpine/dev/Dockerfile
  node/alpine/prod/Dockerfile
  node/buster/dev/Dockerfile
  node/buster/prod/Dockerfile
  renovate/Dockerfile
Due: node-14-alpine, node-14-buster

chore: update dependency renovate/renovate to v32.10.4
  renovate/Dockerfile
Due: none

feat: add node 14 alpine image
  .github/workflows/deploy-node-14-alpine-docker-image.yml
  node-14-alpine/Dockerfile
Due: none

fix: go to dockerfile dir
  .github/workflows/deploy-node-14-alpine-docker-image.yml
Due: none

perf: remove useless pnpm install
  node-14-alpine/Dockerfile
Due: none

feat: add go image
  .github/workflows/deploy-go-docker-image.yml
  golang/Dockerfile
  node-14-alpine/Dockerfile
Due: golang-alpine

chore: foo
  golang/Dockerfile
  node-14-alpine/Dockerfile
Due: golang-alpine

Revert "perf: remove useless pnpm install"
  node-14-alpine/Dockerfile
Due: none

chore: update dependency golang to v1.18.1
  golang/Dockerfile
Due: golang-alpine

chore: update dependency renovate/renovate to v32.32.2
  renovate/Dockerfile
Due: none

chore: update dependency renovate/renovate to v32.34.0
  renovate/Dockerfile
Due: none

chore: update dependency renovate/renovate to v32.35.1
  renovate/Dockerfile
Due: none

chore: update dependency golang to v1.18.2
  golang/Dockerfile
Due: golang-alpine

chore: update node.js to v14.19.3
  node-14-alpine/Dockerfile
Due: none

chore: update dependency renovate/renovate to v32.66.5
  renovate/Dockerfile
Due: none

chore: update dependency renovate/renovate to v32.71.0
  renovate/Dockerfile
Due: none

chore: update dependency golang to v1.18.3
  golang/Dockerfile
Due: golang-alpine

Path conditions:
  node-14-alpine: any of: node/alpine/prod/Dockerfile, node/alpine/dev/Dockerfile
  node-14-buster: any of: node/buster/prod/Dockerfile, node/buster/dev/Dockerfile
  sonarlint-cli: any of: sonarlint-cli/Dockerfile
  golang-alpine: any of: golang/Dockerfile
