Repository 4s1-org/docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node-14-alpine, node-14-buster, sonarlint-cli, golang-alpine, renovate

.gitlab-ci.yml:

stages:
  - docker

node-14-alpine:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - node/alpine/prod/Dockerfile
        - node/alpine/dev/Dockerfile
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/node/alpine/prod/Dockerfile
      --destination $CI_REGISTRY_IMAGE/node:14-alpine
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/node/alpine/dev/Dockerfile
      --destination $CI_REGISTRY_IMAGE/node:14-alpine-dev

node-14-buster:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - node/buster/prod/Dockerfile
        - node/buster/dev/Dockerfile
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/node/buster/prod/Dockerfile
      --destination $CI_REGISTRY_IMAGE/node:14-buster
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/node/buster/dev/Dockerfile
      --destination $CI_REGISTRY_IMAGE/node:14-buster-dev

sonarlint-cli:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - sonarlint-cli/Dockerfile
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/sonarlint-cli/Dockerfile
      --destination $CI_REGISTRY_IMAGE/sonarlint-cli:latest

golang-alpine:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - golang/Dockerfile
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/golang/Dockerfile
      --destination $CI_REGISTRY_IMAGE/golang:latest

renovate:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  # Image must be available on azure host
  tags:
    - 4s1
    - azure
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - renovate/Dockerfile
  script:
    - mkdir -p /kaniko/.docker
    - docker build
      -f $CI_PROJECT_DIR/renovate/Dockerfile
      -t $CI_REGISTRY_IMAGE/renovate:latest
      .

chore: update dependency renovate/renovate to v32.71.3
  renovate/Dockerfile
Due: renovate

chore: update dependency renovate/renovate to v32.89.2
  renovate/Dockerfile
Due: renovate

chore: update dependency renovate/renovate to v32.90.0
  renovate/Dockerfile
Due: renovate

chore: update dependency renovate/renovate to v32.91.1
  renovate/Dockerfile
Due: renovate

chore: update dependency renovate/renovate to v32.92.1
  renovate/Dockerfile
Due: renovate

chore: update dependency renovate/renovate to v32.98.1
  renovate/Dockerfile
Due: renovate

chore: update node.js to v14.20.0
  node-14-alpine/Dockerfile
Due: none

chore: update dependency golang to v1.18.4
  golang/Dockerfile
Due: golang-alpine

chore: update dependency renovate/renovate to v32.131.0
  renovate/Dockerfile
Due: renovate
